.breadcrumbs {
  color: colors(main-font-dark-gray);
  padding: 10px 0;
}

.products {
  width: 100%;
  // animation: fallDown 1000ms forwards;
  color: colors(main-bg-color);

  h1 {
    font-family: $main-font-family;
    letter-spacing: 5px;
    font-size: 1.6em;
    line-height: 2;
    transform: scale(0);
    opacity: 0;
    animation: fadeUp 1000ms forwards;
    display: flex;
    width: 40%;
    margin: 0 auto;
    align-items: center;
    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 0.1em;
      margin: 1em;
      background-color: colors(main-font-color);
    }
  }
}

//Product Card
.products-list {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  padding: 15px;
  flex: 1 280px;

  .card {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
    font-family: arial;
    background-color: colors(cart-bg-color);

    cursor: pointer;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);

      .info {
        height: 80px;
      }
    }
    a {
      text-decoration: none;
    }
    .product-image {
      width: 100%;
      height: 300px;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      background-size: cover;
      display: flex;
      justify-content: center;
    }
  }

  .info {
    align-self: flex-end;
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height 300ms;
    .info-txt {
      width: 70%;
    }
    .info-btn {
      width: 30%;
    }
  }

  h3 {
    font-size: 24px;
    color: colors(main-text-white);
    margin: 10px 0;
  }

  .price {
    color: colors(main-text-white);
    font-size: 18px;
    font-weight: 100;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    height: 100%;
    color: white;
    background-color: colors(products-bg-color);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  }
}

//ItemPage
.product-container {
  animation: slideUp 1000ms forwards;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: colors(cart-bg-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  .product-image-container {
    width: 60%;
    background-color: colors(cart-bg-color);

    .product-roll {
      height: 500px;
      display: block;
      overflow: hidden;
      .product-image-item {
        width: 100%;
        height: 100%;
        transition: transform 500ms;
      }
    }
  }

  .product-info {
    width: 40%;
    z-index: 5;
    box-shadow: -6px 0px 6px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;

    .product-name {
      font-size: 32px;
      margin: 20px;
    }
    .product-details {
      margin: 0 20px;

      font-size: 12px;
      padding: 5px 0;
    }
    .thumbnails {
      width: 100%;
      height: 80px;
      flex-grow: 1;
      display: flex;
      padding: 5px 20px;
      margin-top: 20px;

      .thumbnails-item {
        width: 40px;
        height: 40px;
        margin: 10px 5px;
        cursor: pointer;
        border-radius: 50%;
        animation-name: bouncing;
        animation-duration: 200ms;
        transition: transform 500ms, box-shadow 500ms;

        &:hover,
        &:active {
          transform: translateY(-8px);
          box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
        }
      }
    }

    //price button group
    .product-price-btn {
      display: flex;
      background: rgba(0, 0, 0, 0.4);
      width: 100%;

      .product-price {
        margin: 20px;
        width: 70%;
        font-size: 24px;
      }
      .product-btn {
        border: none;
        outline: 0;
        padding: 12px;
        height: 100%;
        color: white;
        background-color: colors(products-bg-color);
        text-align: center;
        cursor: pointer;
        width: 30%;
        font-size: 18px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

//Product Prev Next Nav
.product-prevnext {
  a {
    text-decoration: none;
    color: colors(main-font-dark-gray);
  }
  .product-prevnext-container {
    display: flex;

    .prevnext-nav-image {
      width: 40px;
      height: 40px;
      margin: 10px 5px;
      cursor: pointer;
      border-radius: 5px;
      transition: transform 500ms, box-shadow 500ms;
    }

    .prev {
      width: 40%;
    }
    .divider {
      flex: 1;
    }
    .next {
      width: 40%;
    }

    .prev-container {
      .product-name {
        width: 80%;
        padding: 20px 5px;
      }
      &:hover,
      &:active {
        .prevnext-nav-image {
          transform: translateY(-8px);
          box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
        }
        .product-name {
          color: colors(products-bg-color);
        }
      }
    }
    .next-container {
      flex-flow: row-reverse;

      .product-name {
        text-align: right;
        width: 80%;
        padding: 20px 5px;
      }
      &:hover,
      &:active {
        .prevnext-nav-image {
          transform: translateY(-8px);
          box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
        }
        .product-name {
          color: colors(products-bg-color);
        }
      }
    }
  }
}
