// Imports
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

//Colors Variable
$colors: (
  main-font-color: #d34410,
  main-text-white: #fff,
  main-font-dark-gray: #4d4d4d,
  main-bg-color: rgba(20, 20, 20, 0.9),
  products-bg-color: #d34410,
  cart-bg-color: rgba(255, 255, 255, 0.8),
  new-product-bg-color: #4d4d4d,
  alert-red: #f44336,
  alert-green: #4caf50,
  alert-blue: #2196f3,
  alert-orange: #ff9800
);

// Map into colors variable
@function colors($color-name) {
  @return map-get($colors, $color-name);
}

// Font Varibale
$main-font-family: "Great Vibes", cursive;
$sec-font-family: "Roboto", sans-serif;
// Animation
@keyframes slideIn {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
    display: block;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(100vw);
    opacity: 1;
    display: none;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fallDown {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeUp {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// MEDIA QUERY MIXINS
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  // @media screen and (min-width: 769px) and (max-width: 1170px) {
  @media screen and (min-width: 769px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
