@import "config";
@import "./components/HeaderNav/header-nav";
@import "./components/NewProduct/new-product";
@import "./components/Products/products";
@import "./components/Error/error";

*,
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $sec-font-family;
}

body {
  // background-color: lighten(colors(main-bg-color), 40);
  overflow-x: hidden;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: colors(main-bg-color);
}
.bg-image {
  position: static;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: url(./assets/shop-bg.jpeg) no-repeat center fixed;
    // background-size: cover;
    // filter: blur(6px);
    z-index: -1;
  }
}
main {
  margin: 20px auto;
  padding: 100px 20px 50px 20px;
}
footer {
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  font-size: 12px;
  background-color: colors(main-bg-color);
  text-align: center;
  color: colors(main-text-white);
}
